@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/awesome/fontawesome-webfont.eot');
  src: url('../fonts/awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/awesome/fontawesome-webfont.woff2') format('woff2'), url('../awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'iconvtc';
  src: url('../fonts/iconvtc/vtc.eot');
  src: url('../fonts/iconvtc/vtc.eot') format('embedded-opentype'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.ttf') format('truetype'), url('../fonts/iconvtc/vtc.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso/miso-webfont.eot');
  src: url('../fonts/miso/miso-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso/miso-webfont.woff2') format('woff2'), url('../fonts/miso/miso-webfont.woff') format('woff'), url('../fonts/miso/miso-webfont.ttf') format('truetype'), url('../fonts/miso/miso-webfont.svg#miso') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misoregular';
  src: url('../fonts/miso-regular/miso-regular-webfont.eot');
  src: url('../fonts/miso-regular/miso-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular/miso-regular-webfont.woff2') format('woff2'), url('../fonts/miso-regular/miso-regular-webfont.woff') format('woff'), url('../fonts/miso-regular/miso-regular-webfont.ttf') format('truetype'), url('../fonts/miso-regular/miso-regular-webfont.svg#misoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url('../fonts/miso-bold/miso-bold-webfont.eot');
  src: url('../fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-bold/miso-bold-webfont.woff2') format('woff2'), url('../fonts/miso-bold/miso-bold-webfont.woff') format('woff'), url('../fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'), url('../fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misolight';
  src: url('../fonts/miso-light/miso-light-webfont.eot');
  src: url('../fonts/miso-light/miso-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-light/miso-light-webfont.woff2') format('woff2'), url('../fonts/miso-light/miso-light-webfont.woff') format('woff'), url('../fonts/miso-light/miso-light-webfont.ttf') format('truetype'), url('../fonts/miso-light/miso-light-webfont.svg#misolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hand';
  src: url('../fonts/handsean/handsean-webfont.eot');
  src: url('../fonts/handsean/handsean-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/handsean/handsean-webfont.woff2') format('woff2'), url('../fonts/handsean/handsean-webfont.woff') format('woff'), url('../fonts/handsean/handsean-webfont.ttf') format('truetype'), url('../fonts/handsean/handsean-webfont.svg#handsean') format('svg');
  font-weight: normal;
  font-style: normal;
}

.txt-blue , .txt-blue-title {
  color: #0079d7;
  /* font-size: 1.2em; */
}


/********************************************************/

/*  estilos header */

/********************************************************/

.title-header {
  font-family: 'misobold';
      font-size: 18px;
      padding-top: 25px;
      margin: 0;
}
.cont-img{
  width: 35%;
}
h4.txt-blue-title.title-header {
    font-size: 25px;
}

.txt-header {
    padding: 20px 5px;
    font-size: 13px;
    /* FONT-WEIGHT: bold; */
    /* font-family: 'miso'; */
}

.form-servicios {
  padding: 10px 30px;
}

.form-servicios span {
  background: #0079d7;
}

.form-servicios .icon-search {
  color: #fff;
}

/********************************************************/

/*  estilos contenido */

/********************************************************/
span.txt-blue.title-header.title-desktop {
    padding: 0;
    font-family: sans-serif;
    font-size: 10.5px;
    font-weight: 800;
}
.add {
  padding: 4px;
  margin:10px 0;
}

.cont-servicios {
  padding: 0 28px;
}

.no-pad {
  padding: 0;
}

.img-servicio {
  padding: 0;
  width: 100%;
  height: 25vh;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.item-menu {
  font-size: 10px;
  border-bottom: 1px #b3b3b3 solid;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-menu .txt-menu {
  width: 95%;
  padding-left: 12px;
  color: #333;
  font-size: 14px;
}

.portada-movil {
  background-image: url(../img/portada-movill.png);
}

.portada-desktop {
  background-image: url(../img/portada-deskop.png);
}

.portada-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-menu i {
  color: #0079d7;
  padding-right: 18px;
  padding-left: 10px;
  font-size: 14px;
}

.title-item {
  color: #fff;
  font-size: 1.8em;
  font-family: 'misobold';
  transition: all 1s;
}

.txt-header p {
  margin: 0;
  font-weight: 600;
}

.col-cont {
  padding: 3px;
}

.exterior {
  background-image: url(../img/exteriors.png);
}

.electricidad {
  background-image: url(../img/electricidadd.png);
}

.pisos {
  background-image: url(../img/pisoss.png);
}

.puertas {
  background-image: url(../img/puertas.png);
}

.cocina {
  background-image: url(../img/cocinas.png);
}

.deco {
  background-image: url(../img/mueblesydeco.png);
}

.img-servicio img {
  display: none;
  width: 100%;
      padding-bottom: 5px;
}
.cont-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.img-servicio.active:before {
  content: '';
  position: absolute;
  border-width: 8px;
  transition: all 1s;
  border-color: #0072CE #fff #fff #fff;
  bottom: -13px;
  border-style: solid;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
}

ul {
  padding: 0;
  background: #f2f2f2;
}
.txt-portada {
  background: #c3292e;
  font-family: 'misobold';
  color: #fff;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}
/*Desktop*/

/*Desktop and md-lg Desktop 125+ 110+ 100+>25*/

@media screen and (min-width: 992px) {
  .col-cont {
    padding: 5px;
}
span.txt-blue.title-header.title-desktop {
    padding: 0;
    font-size: 18px;
  }
/* .lista-menu {
    padding: 15px 0px;
} */
  .txt-portada {
  font-size: 50px;
  padding: 23px 33px;
}
.portada-img {
  height: 400px;
}
.portada-movil{
  display: none;
}
  .item-menu {
    border: #0079d7 2px solid;
    color: #333;
    width: 32.5%;
    text-align: center;
    display: inline-block;
    padding: 17px 35px;
    float: left;
    margin: 4px;

    /* max-height: 66px; */
  }
  .desactive-item {
    filter: brightness(0.4);
  }
  .cont-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .active-item {
    background: #0079d7;
    color: #fff;
  }
  .active-item .txt-menu {

    color: #fff;
  }
  .title-item {
    font-size: 3em;
  }
  .txt-header  {
    padding: 50px 20px 50px;
        font-size: 21px;
        margin: 0;
        line-height: 30px;
  }
  h4.txt-blue-title.title-header {
    font-size: 1.9em;
    padding-top: 56px;
  }
  ul {
    text-align: center;
  }
  .icon-arrow {
    display: none;
  }
  .add {
    padding: 15px 0px;
  }
  .img-servicio {
    height: 40vh;
  }
  .item-menu .txt-menu {
    width: 95%;
    font-size: 17px;
    font-weight: 600;
    transition: all 1s;
    line-height: 25px;
    padding: 0;
    }

}

/*Tableta Mobile L Mobile M Mobile S Mobile 175+ 150+*/

@media screen and (max-width: 992px) {
  .img-servicio {
    height: 38vh;
  }
  .item-menu {
    padding: 17px 0;
  }
  .cont-img{
    width: 28%;
  }
  .title-item{
    font-size: 3em;
  }
}

/*Mobile 200+*/

@media screen and (max-width: 768px) {
  body {
    /*background: purple;*/
  }
  .img-servicio {
    height: 36vh;
  }
  .item-menu {
    padding: 20px 0;
  }
  .cont-img{
    width: 35%;
  }
  .title-item{
    font-size: 3em;
  }
}

/*Mobile 250+*/

@media screen and (max-width: 560px) {
  .img-servicio {
    height: 32vh;
  }
  .item-menu {
    padding: 15px 0;
  }
  .cont-img{
    width: 50%;
  }
  .title-item{
    font-size: 2em;
  }
}

/*Mobile 300+*/

@media screen and (max-width: 480px) {
  .img-servicio {
    height: 27vh;
  }
}

/*Mobile 500+*/

@media screen and (max-width:453px) {
  .img-servicio {
    height: 25vh;
  }
  .cont-img{
    width: 35%;
  }
  .title-item{
    font-size: 1.8em;
  }
}
